<p-card>
  <p-header class="header">
    <div class="col-12 col-md-6">
      <span>Endereço</span>
    </div>
    <div class="col-12 col-md-6"></div>
  </p-header>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="numero.id">Número: *</label>
            <input #numero
                   [(ngModel)]="objeto.numero"
                   appValidation
                   id="numero"
                   maxlength="50"
                   name="numero"
                   pInputText
                   required
                   type="text">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="cep.id">CEP: *</label>
            <input #cep
                   (blur)="buscar()"
                   [(ngModel)]="objeto.cep"
                   appValidation
                   id="cep"
                   mask="00.000-000"
                   maxlength="10"
                   name="cep"
                   pInputText
                   required
                   type="text">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="rua.id">Rua: *</label>
            <input #rua
                   [(ngModel)]="objeto.rua"
                   appValidation
                   id="rua"
                   maxlength="100"
                   name="rua"
                   pInputText
                   required
                   type="text">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="bairro.id">Bairro: *</label>
            <input #bairro
                   [(ngModel)]="objeto.bairro"
                   appValidation
                   id="bairro"
                   maxlength="100"
                   name="bairro"
                   pInputText
                   required
                   type="text">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="cidade.id">Cidade: *</label>
            <input #cidade
                   [(ngModel)]="objeto.cidade"
                   appValidation
                   id="cidade"
                   maxlength="100"
                   name="cidade"
                   pInputText
                   required
                   type="text">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="estado.id">Estado: *</label>
            <input #estado
                   [(ngModel)]="objeto.estado"
                   appValidation
                   id="estado"
                   maxlength="2"
                   name="estado"
                   pInputText
                   required
                   type="text">
          </div>
        </div>
      </div>
    </div>
  </form>
</p-card>
