<p-card>
  <p-header class="header">
    <div class="col-12 col-md-6">
      <span>Item</span>
      <span *ngIf="objeto.id" class="id">Id: {{objeto.id}}</span>
    </div>
    <app-form-buttons (changeUrlEvent)="changeUrl()"
                      (newEvent)="new()"
                      (saveEvent)="save()"></app-form-buttons>
  </p-header>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label [for]="descricao.id">Descrição: *</label>
            <input #descricao
                   [(ngModel)]="objeto.descricao"
                   appValidation
                   id="descricao"
                   maxlength="100"
                   name="descricao"
                   pInputText
                   required
                   type="text">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="valor.inputId">Valor: *</label>
            <p-inputNumber #valor
                           [(ngModel)]="objeto.valor"
                           appValidation
                           currency="BRL"
                           inputId="valor"
                           maxlength="20"
                           mode="currency"
                           name="valor"
                           required></p-inputNumber>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label [for]="categoria.inputId">Categoria: *</label>
            <p-autoComplete #categoria
                            (completeMethod)="categoriaComplete($event)"
                            [(ngModel)]="objeto.categoria"
                            [dropdown]="true"
                            [suggestions]="categoriaSuggestions$ | async"
                            appValidation
                            appendTo="body"
                            field="descricao"
                            inputId="categoria"
                            name="categoria"
                            required>
              <ng-template let-categoria pTemplate="item">
                <span>{{categoria?.id + ' - ' + categoria?.descricao}}</span>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-card>
