<p-card>
  <p-header class="header">
    <div class="col-12 col-md-6">
      <span>Clientes</span>
    </div>
    <app-list-buttons (filterEvent)="displayFilter = true"></app-list-buttons>
  </p-header>
  <p-table (onLazyLoad)="load()"
           [lazy]="true"
           [loading]="loading"
           [paginator]="list?.length > 0"
           [responsive]="true"
           [rowsPerPageOptions]="[10, 20, 30]"
           [rows]="10"
           [showCurrentPageReport]="true"
           [totalRecords]="records"
           [value]="list"
           currentPageReportTemplate="{first} a {last} de {totalRecords}">
    <ng-template pTemplate="header">
      <tr>
        <th class="w-150" pSortableColumn="id">
          <span>Id</span>
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="nome">
          <span>Nome</span>
          <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th pSortableColumn="cpf">
          <span>Cpf</span>
          <p-sortIcon field="cpf"></p-sortIcon>
        </th>
        <th pSortableColumn="telefone">
          <span>Telefone</span>
          <p-sortIcon field="telefone"></p-sortIcon>
        </th>
        <th class="w-150 text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template let-rowData pTemplate="body">
      <tr>
        <td>{{rowData?.id}}</td>
        <td>{{rowData?.nome}}</td>
        <td>{{rowData?.cpf | cpf}}</td>
        <td>{{rowData?.telefone | telefone}}</td>
        <td>
          <app-list-actions (deleteEvent)="delete(rowData.id)"
                            [id]="rowData.id"></app-list-actions>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="5">Nenhum Registro</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<app-list-filter (clearFilterEvent)="clearFilter()"
                 (filterEvent)="filter()"
                 [display]="displayFilter">
  <div class="col-12">
    <div class="form-group">
      <label [for]="filtroId.inputId">Id:</label>
      <p-inputNumber #filtroId
                     [(ngModel)]="filtro.id"
                     [useGrouping]="false"
                     inputId="filtroId"
                     maxlength="20"
                     mode="decimal"
                     name="filtroId"></p-inputNumber>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label [for]="filtroNome.id">Nome:</label>
      <input #filtroNome
             [(ngModel)]="filtro.nome"
             id="filtroNome"
             maxlength="100"
             name="filtroNome"
             pInputText
             type="text">
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label [for]="filtroCpf.inputId">Cpf:</label>
      <p-inputNumber #filtroCpf
                     [(ngModel)]="filtro.cpf"
                     [useGrouping]="false"
                     inputId="filtroCpf"
                     maxlength="11"
                     mode="decimal"
                     name="filtroCpf"></p-inputNumber>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label [for]="filtroTelefone.inputId">Telefone:</label>
      <p-inputNumber #filtroTelefone
                     [(ngModel)]="filtro.telefone"
                     [useGrouping]="false"
                     inputId="filtroTelefone"
                     maxlength="11"
                     mode="decimal"
                     name="filtroTelefone"></p-inputNumber>
    </div>
  </div>
</app-list-filter>
