<p-card>
  <p-header class="header">
    <div class="col-12 col-md-6">
      <span>Categorias</span>
    </div>
    <app-list-buttons (filterEvent)="displayFilter = true"></app-list-buttons>
  </p-header>
  <p-table (onLazyLoad)="load()"
           [lazy]="true"
           [loading]="loading"
           [paginator]="list?.length > 0"
           [responsive]="true"
           [rowsPerPageOptions]="[10, 20, 30]"
           [rows]="10"
           [showCurrentPageReport]="true"
           [totalRecords]="records"
           [value]="list"
           currentPageReportTemplate="{first} a {last} de {totalRecords}">
    <ng-template pTemplate="header">
      <tr>
        <th class="w-150" pSortableColumn="id">
          <span>Id</span>
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="descricao">
          <span>Descrição</span>
          <p-sortIcon field="descricao"></p-sortIcon>
        </th>
        <th class="w-150 text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template let-rowData pTemplate="body">
      <tr>
        <td>{{rowData?.id}}</td>
        <td>{{rowData?.descricao}}</td>
        <td>
          <app-list-actions (deleteEvent)="delete($event)"
                            [id]="rowData.id"></app-list-actions>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="3">Nenhum Registro</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<app-list-filter (clearFilterEvent)="clearFilter()"
                 (filterEvent)="filter()"
                 [display]="displayFilter">
  <div class="col-12">
    <div class="form-group">
      <label [for]="filtroId.inputId">Id:</label>
      <p-inputNumber #filtroId
                     [(ngModel)]="filtro.id"
                     [useGrouping]="false"
                     inputId="filtroId"
                     maxlength="20"
                     mode="decimal"
                     name="filtroId"></p-inputNumber>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label [for]="filtroDescricao.id">Descrição:</label>
      <input #filtroDescricao
             [(ngModel)]="filtro.descricao"
             id="filtroDescricao"
             maxlength="100"
             name="filtroDescricao"
             pInputText
             type="text">
    </div>
  </div>
</app-list-filter>
